
html {
  background: url('images/nightsky_background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#frame {
  position: absolute;
  width: 1024px;
  height: 900px;
  left: 50%;
  top: 50%;
  margin-left: -512px;
  margin-top: -384px;
  overflow: hidden;
  outline: none;
  background: rgba(125,125,125, 0);
  z-index: 0;
}




.a1 { left:28%;    top:31%; }
.a2 { left: 24%; top:28%; }
.a3 { left: 38%; top:31%; }
.a4 { left: 17%; top:45%; }
.a5 { left: 40%; top:35%; }
.a6 { left: 47%; top:38%; }
.a7 { left: 83%; top:25.5%; }


#elemMap {

	opacity: 0.4;
	position: absolute;
	z-index: 2;


    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 5s;

    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 5s;

    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 200s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: rotate; 
    -moz-animation-duration: 200s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

/*search transform origin to center, set halfway*/
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(-360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(-360deg);}
    
}
.elemLights{
opacity: 0.7;
position: absolute;
z-index= 1;

    
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 100s;

    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 100s;

    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 100s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: rotate; 
    -moz-animation-duration: 100s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
    
    
}
